<!DOCTYPE html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/font.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.tagbox.css" >

	<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>
	<!--<script type="text/javascript" src="js/tagthefont.js"></script>-->
	<script type="text/javascript" src="../static/js/jquery.tagbox.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#jquery-tagbox-text").tagBox();
		});
	</script>
</head>

<body>
	<div id="container">
		<div id="font_name"><h1>{{name}}</h1></div><!--font_name-->
		<h2>Pangram</h2>
		<p class="panagram">Cwm fjord veg balks nth pyx quiz.</p>

		<h2>Controlled Vocabulary</h2>
		<p>Will be pulled from database</p>

		<h2>Tags</h2>
		<ul class="taglist">	
		{% for tag in tags %}
			<li>{{ tag.tag_name}}</li>
		{% endfor %}
		</ul>
		
		<h2>Add your own tags</h2>
		{% if userid %}
		<p><a href="/font/{{name}}/addtags">Add tags to this font!</a></p>
		{% else %}
    <p>Add tags to this font by logging in! <a href="/login"><img src="../static/img/facebook-login-button.png"></a></p>
		{% endif %}
		
	</div><!--container-->
</body>
</html>