<!DOCTYPE html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/font.css" >
	<link rel="stylesheet" type="text/css" href="../static/css/jquery.tagbox.css" >

	<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>
	<!--<script type="text/javascript" src="js/tagthefont.js"></script>-->
	<script type="text/javascript" src="../static/js/jquery.tagbox.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#jquery-tagbox-text").tagBox();
		});
	</script>
</head>

<body>
	<div id="container">
		<div id="font_name"><h1>{{name}}</h1></div><!--font_name-->
		<div id="pangram">
			<h2>Pangram</h2>
			<p>Cwm fjord veg balks nth pyx quiz.</p>
		</div>
		<div id ="tags">


		</div>
	
		 <form action=".">
		    <!--<div class="row">-->
		      <label for="jquery-tagbox-text">Text TagBox </label>
		      <input type="text" id="jquery-tagbox-text" />
		    <!--</div><!--div.row-->
		 </form>

		 {% for tag in tags %}
		<h3>{{ tags.name}}</h3>
		{% endfor %}


	</div><!--container-->
</body>







</html>



