<!DOCTYPE html>
<html>
<head>
    <title>Spotifont - It's like Spotify for Fonts!</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Covered+By+Your+Grace|Open+Sans|Squada+One' rel='stylesheet' type='text/css' />

    <!-- JS -->
    <!-- These are for autocomplete -->
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="../static/js/availableTags.js"></script> <!-- This contains the available tags -->

    <!-- These are for buttons -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Aijia's code -->
    <script type="text/javascript">

        $(document).ready(function()  {
            
            $("#searchButton").click(function() {
                 var path = $("#tags").val();
                 $.getJSON("/search/" + path, function(data) {
                    var boxesHtml = ""

                    /* Loop through JSON file and create the HTML content */
                    for (var i=0;i<data.length;i++)
                    {
                    var thisBox = '<li id="' + data[i].fontname + '" class="box ' + data[i].controlled + '"><ul class="tagCloud"> \
                    <li class="tag3">avant garde</li> \
                    <li class="tag5">cool</li> \
                    <li class="tag1">eurostile</li> \
                    <li class="tag5">experimental</li> \
                    </ul><p class="fontName"><a href="font/Dave">' + data[i].fontname + '</a></p></li>';
                    boxesHtml = boxesHtml + thisBox;
                    }

                    /* Edit the HTML with JSON content */
                    document.getElementById("boxes").innerHTML = boxesHtml;

                    /* Loop through JSON file and edit the CSS content */
                    for (var i=0;i<data.length;i++)
                    {
                    document.getElementById(data[i].fontname).style.fontFamily = data[i].fontname;
                    }
                });
            });

            $("#serif-Button").click(function() {
                $(".serif").toggle("slow", function() {
                });
            });
            
            $("#sans-serif-Button").click(function() {
                $(".sans-serif").toggle("slow", function() {
                });
            });

            $("#display-Button").click(function() {
                $(".display").toggle("slow", function() {
                });
            });

             $("#handwriting-Button").click(function() {
                $(".handwriting").toggle("slow", function() {
                });
            });
        });
    </script>
    <!-- End of Aijia's code -->

</head>

<body>
    
    <!-- Header -->
    <div id="header">
        <a id="logo" href="index.html"><img src="../static/img/logo.png" alt="Spotifont" /></a>
				{% if g.userid %}
				<div id="logout">You're logged in! AWESOME</div>
				{% else %}
        <div id="login"><a href="/login"><img src="../static/img/facebook-login-button.png"></a></div>
				{% endif %}

    </div>

    <!-- Search and filter bar -->
    <div id="searchAndFilter">

        <!-- Search -->
        <div id="search">
          
                <label for="tags" id="tagLabel">Search Tags: </label>
                <input id="tags" placeholder="eg. decorative, funny, awesome, cool"/>
                <button type="submit" class="btn" id="searchButton">Search</button>
            
        </div>

        <!-- Filter -->
        <div id="filter">
            <div id="filterButtons" class="btn-group" data-toggle="buttons-checkbox" >
              <button type="button" class="btn btn-large" id="serif-Button">SF</button>
              <button type="button" class="btn btn-large" id="sans-serif-Button">SF</button>
              <button type="button" class="btn btn-large" id="display-Button">SF</button>
              <button type="button" class="btn btn-large" id="handwriting-Button">SF</button>
            </div>
            <table id="filterLabels">
                <tr>
                    <td>Serif</td>
                    <td>Sans-Serif</td>
                    <td>Display</td>
                    <td>Handwriting</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Results / Boxes -->
    <ul id="boxes">
        
    </ul>

<!-- JSON implementation -->
<script>
/* Sample JSON File */
        var JSONObject2 = [
            {"fontname": "Droid Serif", "controlled": "serif" },
            {"fontname": "Open Sans", "controlled": "sans-serif" },
            {"fontname": "Squada One", "controlled": "display" },
            {"fontname": "Covered By Your Grace", "controlled": "handwriting" }
        ];
        var boxesHtml = ""

        /* Loop through JSON file and create the HTML content */
        for (var i=0;i<JSONObject2.length;i++)
        {
        var thisBox = '<li id="' + JSONObject2[i].fontname + '" class="box ' + JSONObject2[i].controlled + '"><ul class="tagCloud"> \
        <li class="tag3">avant garde</li> \
        <li class="tag5">cool</li> \
        <li class="tag1">eurostile</li> \
        <li class="tag5">experimental</li> \
        </ul><p class="fontName"><a href="font/Dave">' + JSONObject2[i].fontname + '</a></p></li>';
        boxesHtml = boxesHtml + thisBox;
        }

        /* Edit the HTML with JSON content */
        document.getElementById("boxes").innerHTML = boxesHtml;

        /* Loop through JSON file and edit the CSS content */
        for (var i=0;i<JSONObject2.length;i++)
        {
        document.getElementById(JSONObject2[i].fontname).style.fontFamily = JSONObject2[i].fontname;
        }

</script>


</body>
</html>